@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #272f33;
  @apply bg-[#DBDBDB];

  background-image: url("assets/elemento-de-fundo.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
